@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 20 14.3% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;
		--primary: 24.6 95% 53.1%;
		--primary-foreground: 60 9.1% 97.8%;
		--secondary: 60 4.8% 95.9%;
		--secondary-foreground: 24 9.8% 10%;
		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;
		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 20 5.9% 90%;
		--input: 20 5.9% 90%;
		--ring: 24.6 95% 53.1%;
		--radius: 0.5rem;

		--narudorange: 24.6 95% 53.1%;
		--narudorange-foreground: 60 9.1% 97.8%;

		--shad-green: hsl(142.1 76.2% 36.3%);
		--shad-yellow: hsl(47.9 95.8% 53.1%);
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 60 9.1% 97.8%;
		--card: 20 14.3% 4.1%;
		--card-foreground: 60 9.1% 97.8%;
		--popover: 20 14.3% 4.1%;
		--popover-foreground: 60 9.1% 97.8%;
		--primary: 20.5 90.2% 48.2%;
		--primary-foreground: 60 9.1% 97.8%;
		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: 60 9.1% 97.8%;
		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 60 9.1% 97.8%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 12 6.5% 15.1%;
		--input: 12 6.5% 15.1%;
		--ring: 20.5 90.2% 48.2%;

		--narudorange: 20.5 90.2% 48.2%;
		--narudorange-foreground: 60 9.1% 97.8%;

		--shad-green: hsl(142.1 70.6% 45.3%);
		--shad-yellow: hsl(47.9 95.8% 53.1%);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* shadcn typography */
@layer base {
	h1.shad-h1 {
		@apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
	}

	h2.shad-h2 {
		@apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
	}

	h3.shad-h3 {
		@apply scroll-m-20 text-2xl font-semibold tracking-tight;
	}

	h4.shad-h4 {
		@apply scroll-m-20 text-xl font-semibold tracking-tight;
	}

	p.shad-p {
		@apply leading-7 [&:not(:first-child)]:mt-6;
	}

	blockquote.shad-blockquote {
		@apply mt-6 border-l-2 pl-6 italic;
	}

	ul.shad-ul {
		@apply my-6 ml-6 list-disc [&>li]:mt-2;
	}

	code.shad-code {
		@apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
	}

	p.shad-p-lead {
		@apply text-xl text-muted-foreground;
	}

	p.shad-p-large {
		@apply text-lg font-semibold;
	}

	small.shad-small {
		@apply text-sm font-medium leading-none;
	}

	p.shad-p-muted {
		@apply text-sm text-muted-foreground;
	}
}
